*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background: linear-gradient(90deg, rgb(65, 184, 131)0%, rgba(0, 212, 255,1)100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    border: 2px solid #fff;
    padding: 30px 40px;
    width: 35%;
    min-width: 500px;
}

.new-task-container{
    background-color: #fff;
    padding: 30px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    box-shadow: rgba(16, 16, 17, 0.25) 0.5rem 0.5rem 2rem 0px;
}

.new-task-input{
    font-size: 1rem;
    border: 2px solid #d1d3d4;
    border-radius: 5px;
    padding: 12px;
    font-weight: 500;
}

.task-button{
    border-radius: 5px;
    font-weight: 500;
    height: 100%;
    font-size: 1rem;
    border: none;
    background-color: #41b883;
    color: #fff;
    padding: 12px;
    margin-left: 12px;
    cursor: pointer;
}

.task-container{
    background-color: #fff;
    padding: 30px 20px;
    margin-top: 60px;
    border-radius: 10px;
    box-shadow: rgba(16, 16, 17, 0.25) 0.5rem 0.5rem 2rem 0px;
}